{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% translate "Login" %}
{% endblock title %}
{% block content %}
  <div class="container my-5">
    <form method="post"
          enctype="multipart/form-data"
          class="needs-validation"
          novalidate>
      {% csrf_token %}
      {% for msg in messages %}<div class="alert alert-primary" role="alert">{{ msg }}</div>{% endfor %}
      {% include "includes/form.html" %}
      <button type="submit" class="btn btn-primary">Создать аккаунт</button>
    </form>
  </div>
{% endblock content %}
