{% load static %}
{% load i18n %}
<header class="container-fluid d-flex flex-wrap justify-content-center py-3 border-bottom">
  <a href="{% url 'homepage:index' %}"
     class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img src="{% static 'img/logo.svg' %}" alt="" width="50" height="44"/>
    <span class="mx-4 fs-4">{% translate "Yozhic" %}</span>
  </a>
  {% with request.resolver_match.view_name as view_name %}
    <ul class="nav nav-pills">
      <div class="btn-group">
        {% if request.user.is_authenticated %}
          <button class="btn btn-outline-primary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="true"
                  aria-expanded="false">
            {% if request.user.first_name %}
              {{ request.user.first_name }}
            {% else %}
              {{ request.user.email }}
            {% endif %}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a>
            </li>
            {% if request.user.is_superuser %}
              <li>
                <a class="dropdown-item" href="{% url 'users:users-list' %}">Список пользователей</a>
              </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
            </li>
          </ul>
        {% else %}
          <button class="btn dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="true"
                  aria-expanded="false">
            Аккаунт
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'users:login' %}">Вход</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'users:signup' %}">Создать аккаунт</a>
            </li>
          </ul>
        {% endif %}
      </div>
      <li class="nav-item">
        <a class="nav-link
                  {% if view_name == 'homepage:index' %}
                    active
                  {% endif %}"
           href="{% url 'homepage:index' %}">{% translate "Home" %}</a>
      </li>
      <div class="dropdown">
        <a class="btn btn-outline-primary
                  {% if view_name == 'catalog:item-list' %}
                    active
                  {% endif %}"
           role="button"
           href="{% url 'catalog:item-list' %}">{% translate "Catalog" %}</a>
        <button type="button"
                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown"
                aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item
                      {% if view_name == 'catalog:new-items' %}
                        active
                      {% endif %}"
               href="{% url 'catalog:new-items' %}">{% translate "New" %}</a>
          </li>
          <li>
            <a class="dropdown-item
                      {% if view_name == 'catalog:friday-items' %}
                        active
                      {% endif %}"
               href="{% url 'catalog:friday-items' %}">{% translate "Friday" %}</a>
          </li>
          <li>
            <a class="dropdown-item
                      {% if view_name == 'catalog:unverified-items' %}
                        active
                      {% endif %}"
               href="{% url 'catalog:unverified-items' %}">{% translate "Unverified" %}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="true"
                aria-expanded="false">
          Статистика
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="{% url 'statistic:users' %}">Пользователи</a>
          </li>
          {% if request.user.is_authenticated %}
          <li>
            <a class="dropdown-item" href="{% url 'statistic:items' %}">Мои товары</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <li class="nav-item">
        <a class="nav-link
                  {% if view_name == 'about:about' %}
                    active
                  {% endif %}"
           href="{% url 'about:about' %}">{% translate "About" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link
                  {% if view_name == 'feedback:feedback' %}
                    active
                  {% endif %}"
           href="{% url 'feedback:feedback' %}">{% translate "Feedback" %}</a>
      </li>
      {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">{% translate "Admin" %}</a>
        </li>
      {% endif %}
    </ul>
  {% endwith %}
</header>
