{% load static %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="{% static 'img/logo.svg' %}" alt="" width="50" height="44">
        Ёжик
    </a>

    {% with request.resolver_match.view_name as view_name %}
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 {% if view_name == 'homepage:index' %}link-secondary{% endif %}" href="{% url 'homepage:index' %}">Главная страница</a></li>
        <li><a class="nav-link px-2 {% if view_name == 'catalog:item-list' %}link-secondary{% endif %}" href="{% url 'catalog:item-list' %}">Каталог товаров</a></li>
        <li><a class="nav-link px-2 {% if view_name == 'about:about' %}link-secondary{% endif %}" href="{% url 'about:about' %}">О нас</a></li>
    </ul>
    {% endwith %}
</header>