{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  {% translate "Item" %}
{% endblock title %}
{% block content %}
  <div class="container my-5">
    <h1 class="d-flex align-items-center justify-content-center mb-5">{{ item.name }}</h1>
    <div class="card mb-3">
      <img src="{{ item.preview.image.url }}"
           class="card-img"
           alt="Фото отсутствует"
           height=""
           width=""/>
      <div class="card-img-overlay">
        <a class="btn btn-light btn-outline-dark float-end"
           href="{{ item.preview.image.url }}"
           download="">
          <img src="{% static 'img/download.svg' %}" alt="" width="50" height="50"/>
        </a>
      </div>
    </div>
    <div class="fs-3">
      <h2 class="d-flex align-items-center justify-content-center mb-3">Описание</h2>
      {{ item.text | safe }}
      <h2 class="d-flex align-items-center justify-content-center mb-3">Категория</h2>
      {{ item.category.name }}
      <h2 class="d-flex align-items-center justify-content-center mb-3">Теги</h2>
      <ul>
        {% for tag in item.tags.all %}
          <li>{{ tag.name }}</li>
        {% empty %}
          Нема
        {% endfor %}
      </ul>
      <h2 class="d-flex align-items-center justify-content-center mb-3">Галлерея</h2>
      {% for photo in item.gallery.all %}
        <div class="card mb-3">
          <img src="{{ photo.image.url }}"
               class="card-img"
               alt="Фото отсутствует"
               height=""
               width=""/>
          <div class="card-img-overlay">
            <a class="btn btn-light btn-outline-dark float-end"
               href="{{ photo.image.url }}"
               download="">
              <img src="{% static 'img/download.svg' %}" alt="" width="50" height="50"/>
            </a>
          </div>
        </div>
      {% empty %}
        Нема
      {% endfor %}
      <h2 class="d-flex align-items-center justify-content-center mb-3">Оценка товара</h2>
      <form method="post">
        {% csrf_token %}
        <ul>
            {{ form.as_ul }}
        </ul>
        <input type="submit" value="Отправить">
    </form>
    </div>
  </div>
{% endblock content %}
